@use '@carbon/layout';
@use '@carbon/type';

.section {
  margin: layout.$spacing-03;
}

.sectionTitle {
  margin-bottom: layout.$spacing-04;
}

.modalBody {
  padding-bottom: layout.$spacing-05;
}
.instructions {
  margin-top: 1rem;
  white-space: pre-wrap;
}

.modalBody{
  :global(.cds--tooltip-trigger__wrapper){
    visibility: hidden;
  }
}
